<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Витрина товаров</title>
</head>

<body>
<a href="/weblog/posts" style="float:right;">
    <b>НА ГЛАВНУЮ &cudarrr;</b>
</a>
<form method="POST" th:action="${post==null ? '/weblog/posts' : '/weblog/posts/'+post.getId()}">
    <table style="width:50%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <h3>Название</h3>
                <textarea rows="2" style="width: 100%;" name="title" th:text="${post==null ? '' : post.getTitle()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Изображение (имя файла)</h3>
                <input type="text" name="image" style="width: 100%;" placeholder="Например: 1.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <h3>Теги</h3>
                <textarea rows="2" style="width: 100%;" name="tags" th:text="${post==null ? '' : post.getTagsAsText()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Текст</h3>
                <textarea rows="30" style="width: 100%;" name="textPreview" th:text="${post==null ? '' : post.getTextPreview()}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <button style="float:right;" th:text="${post==null ? 'Сохранить' : 'Редактировать'}"></button>
            </td>
        </tr>
    </table>
</form>
</body>